# Visual Studio
**/.vs/
**/*.suo
**/*.user
**/*.vcxproj*
**/*.vcxproj.filters

# Carpeta de compilació
build/
bin/

# Fitxers binaris i object
*.exe
*.obj
*.pdb

# Mac/Windows junk
.DS_Store
Thumbs.db
